/* 
    Created on : Dec 12, 2018, 1:28:42 PM
    Author     : paulbratslavsky
*/

.site-content {
    padding: 1rem;
    
    @media screen and ( min-width: $query__small ) {
        padding: 2rem;
    }
}

