$color__skin: #304151; // header color

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__link: #e2c044;
$color__link-visited: rgba(243, 255, 111, 0.75);
$color__link-hover: #f3ff6f;

// Menu Links
$color__link__menu: #e3e7f0;
$color__link-visited__menu: #e3e7f0;
$color__link-hover__menu: #f9bbc9;

$color__text-main: #404040;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
