.site-content {
  padding: 0;

  #main {
    background: #f0f2f9;
    display: flex;
    flex-direction: column;
    // flex-flow: wrap;

    article {
      background: #334150;
      margin-bottom: 0;

      .entry-header {

        a {
          text-decoration: none;
        }

        .cat-links {
          font-size: 90%;
          font-weight: 700;
          display: flex;
          flex-wrap: wrap;

          padding: 1rem;

          a {
            text-transform: capitalize;
            color: #fafafa;
            background: #db5461;
            padding: 0.25rem 0.75rem;
            margin: 0.25rem 0.25rem 0.25rem 0;

            border-bottom-left-radius: 5px;
            border-top-right-radius: 5px;
          }

          a:hover,
          a:focus {
            background: #fafafa;
            color: #db5461;
          }

        }

        .entry-title {
          margin: 0;

          color: #fafafa;
          background: #db5461;

          text-align: center;
          a {
            padding: 0.25rem 0.75rem;
            display: block;
            background: #db5461;
            color: #fafafa;
            width: 100%;
          }

          a:hover,
          a:focus {
            background: #fafafa;
            color: #db5461;
          }
        }

        .entry-meta {
          color: #fafafa;
          padding: 1rem;

          a {
            text-transform: capitalize;
            color: #e2c044;
            font-weight: 700;
          }

          a:hover,
          a:focus {
            color: #f3ff6f;
            text-decoration: underline;
          }
        }
      }

      .entry-content {
        color: #fafafa;
        padding: 1rem;

        p {
          font-size: 1.75rem;
        }

      }

      .entry-footer {
        min-height: 65px;
        padding: 1rem;

        span {
          color: #fafafa;
          margin: 0.5rem;

          a:first-child {
            margin-left: -0.25rem;
          }

          a {
            display: inline-block;
            background: #e2c044;
            color: #304151;
            padding: 0rem 0.75rem;
            margin: 0.25rem 0.275rem 0.25rem 0.275rem;

            font-weight: 700;

            border-radius: 5px;
            text-decoration: none;

          }

          a:hover {
            background: #fafafa;
            color: #304151;
          }
        }


      }
    }
  }
}